{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}
{% block title %}Clubs{% endblock %}

{% block script %}

  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
  <style type="text/css">

  </style>

{% endblock %}
{% block main %}

<div class="container text-center mt-5">

    <div class="section-heading">
      <h2><em>{{tag}} Club's</em></h2>
    </div>
    

</div>

    <div class="services text-dark">
      <div class="container">
        <div class="row">

        {% for i in clubs %}
          <div class="col-md-4 mt-5">
            <div class="service-item">

              {% if i.club.logo == 'blank' %}

                <img src="{% static 'accounts/default.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Course Image" width="300" height="300" loading="lazy">
                

              {% else %}
                <img src="{{i.club.logo.url}}" alt="club's logo">

              {% endif %}

              <div class="down-content">
                <h4>{{i.club.name}}</h4>

                {% if i.club.tagline %}

                  <p>{{i.club.tagline}}</p>

                {% else %}

                  <p>We love to learn together!</p>

                {% endif %}

                <a href="{% url 'view-club' i.club.id  %}" class="filled-button" style="text-decoration: none;">Show More</a>
              </div>
            </div>
          </div>




        {% empty %}
        <h4 class="text-center mt-5 mb-5 text-muted">No clubs in <big>{{tag}}</big> tag.</h4>

        {% endfor %}

        </div>
      </div>
    </div>


{% endblock %}

{% block ajaxbox %}


{% endblock %}
