
{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Club-Registration{% endblock %}
{% block main %}

{% block script %}

    
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">


{% endblock %}

<div class="container m-2">

  {% for msg in messages %}

      <div class="row">
          <p class="text-success text-center">{{msg}}</p>
      </div>
      
  {% endfor %}

</div>


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">

    <div class="col-md-10 mx-auto col-lg-6">
      <form class="p-4 p-md-5 border rounded-3 bg-white"  enctype="multipart/form-data" method="post">


        {% csrf_token %}

        {{form|crispy}}


        <div class="mt-3">

          <button class="w-100 filled-button" type="submit">Create</button>

          
        </div>

      </form>

        <hr class="my-4">

        <div class="text-center">

        <a href="/accounts/club-by-tag/ALL/" class="text-decoration-none" style="font-size: 18px;">Explore Clubs</a>

          
        </div>
    </div>
  </div>

</div>

    

{% endblock %}