{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Dashboard {% endblock %}
{% block main %}

    <div class="container m-2">

        {% for msg in messages %}

            <div class="row">
                <p class="text-success text-center">{{msg}}</p>
            </div>
            
        {% endfor %}

    </div>


    <div  class="container mt-5">

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="{{club.logo.url}}" class="card-img-top" alt="club's logo">
              <div class="card-body">
                <h5 class="card-title">Members</h5>
                <h6 class="card-subtitle">Total Members: {{members_list|length}}</h6>
                <h6 class="card-subtitle mt-1">Requests: {{requests | length}}</h6>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{club.logo.url}}" class="card-img-top" alt="club's logo">

              <div class="card-body">

                <h5 class="card-title">Jsecs</h5>
                  
              </div>
                <ul class="list-group list-group-flush">
                    {% for i in club.jsecsclub.all %}
                    <li class="list-group-item">{{i.name}}</li>

                    {% endfor %}
                </ul>

                <div class="card-footer">
                    <a href="#" class="btn btn-success">Task For Jsecs</a>

                </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{club.logo.url}}" class="card-img-top" alt="club's logo">
              <div class="card-body">
                <h5 class="card-title">Clubs Rating</h5>
                <p class="card-text">{{clubs_rating}}</p>
              </div>
            </div>
          </div>

        </div>

    </div>


<div class="container text-center mb-5 mt-5">    
    <div class="row">
      <div class="col-sm-3">

        <div class="card mt-2 mb-2">
          
          <div class="card-body">

            <h6 class="card-subtitle mb-2 text-dark"><i class="  fa fa-line-chart"></i> Members Activities</h6>
            <p>Interests</p>

                <canvas id="myChart1" width="300" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for i in interests.keys %} "{{i}}", {% endfor %}],
                            datasets: [{
                                label: 'club clusters',
                                data: [{% for i in interests.values %} {{i}}, {% endfor %}],
                                backgroundColor : ["red", "green", "blue", "lime", "grey", "gold", "yellow", "cyan", "lightblack", "red", "green", "pink", "skyblue", "lightgreen"]

                            }]
                        },
                        options: {
                            responsive : true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }

                            
                        }
                        });
                    </script>

            <ul>
              {% for group, mem in interests.items %}

                {% if mem > 1%}
                <li><a href="/accounts/cluster-tag/{{group.name}}">{{group}}</a></li>
                <p><small>{{mem}} Members</small></p>

                {% else %}

                <li><a href="/accounts/cluster-tag/{{group.name}}">{{group}}</a> {{mem}} Member</li>
                {% endif %}
              {% endfor %}


            </ul>
            
          </div>
        </div>

          <!--<p><a href="#">Your Activity</a></p>-->


      </div>
      <div class="col-sm-6">
      
        <div class="row mt-2">
          <div class="col-sm-12">
            <div class="card text-left">
              <div class="card-body">
                
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a href="{% url 'Your-club-members' club.id %}" class="btn btn-dark">Manage Members</a>
                    <a href="{% url 'taskform' %}" class="btn btn-dark">Manage Task</a>

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Events
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{% url 'addevents' %}">Add Events</a></li>
                        <li><a class="dropdown-item" href="{% url 'updatepage' %}">Manage Events</a></li>
                        </ul>
                    </div>

                </div>
    
              </div>
            </div>
          </div>
        </div>
        <h6 class="mt-4">Your Upcoming Events</h6>
        {% for i in upcoming_events %}
        <div class="row mt-4 mb-4 bg-light">

          <div class="col-sm-3">
            <div class="card-body" style="border-radius: 2;">
             <p style="font-size: 18px;"><a href="#" style="text-decoration: none;">{{i.0.name}}</a></p>
             <!--<img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">-->
            </div>
          </div>
          <div class="col-sm-9">
            <div class="card bg-white">
              <div class="card-body">

                  <a href="{% url 'update-event' i.0.id %}" class="text-success text-decoration-none "><h4>{{i.0.content|safe}}</h4></a>
                  <span class="text-muted mt-2" style = "font-size: xx-small;">On- <mark><small style = "font-size: xx-small;">{{i.0.event_date|naturalday}}</small></mark></span>
                
              </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'all-participants' i.0.id %}">Total participants:</a> {{i.1}}</li>
 
                </ul>

            </div>
          </div>
        </div>
        {% endfor %}

      </div>

   

      <div class="col-sm-2">

        <div class="card mt-2 border-white">

          <div class="card-header bg-dark text-white">
            <p>Add Quiz</p>
          </div>
          
          <div class="card-body">
            <a href="{% url 'quizes:quizform' %}">Add</a>
          </div>
        </div>
 
      </div>

  </div>

</div>



    
{% endblock %}