{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block title %}Events{% endblock %}

{% block main %}

    <div class="text-center mt-3 mb-2">
        <p>Total-Participants: {{total_par}}</p>
        <mark> {{per_par}}% Users have Registered to this Event.</mark>  <a href="{% url 'all-participants' event_id %}"> View all Participants</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">

                {% if data_branch %}
                    <canvas id="myChart1" width="400" height="400"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for i in data_branch.keys %} "{{i}}", {% endfor %}],
                            datasets: [{
                                label: 'Branch Vise Participation',
                                data: [{% for i in data_branch.values %} {{i}}, {% endfor %}],
                                backgroundColor : ["red", "green", "blue", "lime", "grey", "gold", "yellow", "cyan", "lightblack", "red", "green", "pink", "skyblue", "lightgreen"]

                            }]
                        },
                        options: {
                            responsive : false,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }

                            
                        }
                        });
                    </script>

                {% endif %}

            </div>

            <div class="col">
                {% if data_sem %}
                    <canvas id="myChart2" width="400" height="400"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for i in data_sem.keys %} "{{i}}" + " Sem", {% endfor %}],
                            datasets: [{
                                label: 'Sem Vise Participation',
                                data: [{% for i in data_sem.values %} {{i}}, {% endfor %}],
                                backgroundColor : ["lightblue", "cyan", "blue", "lime", "grey", "green", "darkgreen", "red"]

                            }]
                        },
                        options: {
                            responsive : false,

                            scales: {
                                y: {
                                    beginAtZero: true
                                }

                            }

                            
                        }
                        });
                    </script>

                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}