{% extends 'qna/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}
{% block title %}suPpoRt{% endblock %}
{% block script %}


<meta property="og:type" content="website" />
<meta property="og:title" content="Join suPpoRt by cosb" />
<meta property="og:url" content="https://www.cosb.live/suPpoRt/" />
<meta property="og:image" content="https://source.unsplash.com/1600x900/?support" />
<meta property="og:description" content="Support the change you want to see in future." />
<meta property="og:site_name" content="suPpoRt" />

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=613337eb495f05001236fe40&product=inline-share-buttons' async='async'></script>

<style type="text/css">

  body{

    color: black;
  }
  
  
</style>

{% endblock %}

{% block main %}


<div class="container text-center mb-5 mt-5 text-dark">  


  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">suPpoRt the change.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">cosb is making the best learning environment, where people can learn 17 times faster than the normal way of learning.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <form>

          <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_ITu4E937zwTcNB" async> </script> 

        </form>
        <!--<h6 class="text-success">From tomorrow onwards you will be able to invest in cosb!</h6>-->
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 90vh;">
      <div class="container px-5">
        <img src="https://source.unsplash.com/1600x900/?support" class="img-fluid border rounded-3 shadow-lg mb-4" alt="suPpoRt" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  
  <h4 class="text-success mb-4">New startups coming soon...</h4>

  <p class="text-dark text-center">Share cosb</p>

  <div class="sharethis-inline-share-buttons" data-url="https://www.cosb.live/suPpoRt/" data-title="Join suPpoRt by cosb" data-description = "Support the change you want to see in future." data-message="Support the change you want to see in future." data-image = "https://source.unsplash.com/1600x900/?support"></div>


  <script async id="slcLiveChat" src="https://widget.sonetel.com/SonetelWidget.min.js" data-account-id="207865070"></script>
</div>



{% endblock%}


{% block ajaxbox %}



{% endblock ajaxbox %}



