{% extends 'qna/base.html' %}
{% load crispy_forms_tags %}
{% block title %}suPpoRt{% endblock %}
{% load humanize %}

{% block script %}

<style type="text/css">
  
  
</style>

{% endblock %}

{% block main %}


<div class="container text-center mb-5 mt-5 text-dark">  


  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">suPpoRt the change.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">cosb is making the best learning environment, where people can learn 10 times faster than the normal way of learning.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!--<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_ITu4E937zwTcNB" async> </script> </form>-->
        <h6 class="text-success">You will be able to invest in cosb soon!</h6>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 90vh;">
      <div class="container px-5">
        <img src="https://source.unsplash.com/1600x900/?support" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  
  <h4 class="text-success">New startups coming soon...</h4>
</div>



{% endblock%}


{% block ajaxbox %}



{% endblock ajaxbox %}



