{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% load humanize %}
{% block title %}
    Home
{% endblock %}
{% block script %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{% static 'accounts/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    <style type="text/css">

        body{
            
            background-color: white;
            color: white;

        }

        img {
          width: 100%;
          overflow: hidden;
        }



        .main-banner {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          padding: 100px 0px 120px 0px;
          position: relative;
          overflow: hidden;
        }

        .main-banner:after {
          content: '';
          background-image: url("{% static 'accounts/slider-left-dec.jpg' %}");
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 60px;
          width: 262px;
          height: 625px;
          z-index: 1;
        }

        .main-banner:before {
          content: '';
          background-image: url("{% static 'accounts/slider-right-dec.jpg' %}");
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top: 60px;
          width: 1159px;
          height: 797px;
          z-index: -1;
        }

        .main-banner .left-content {
          margin-right: 15px;
        }

        .main-banner .left-content h6 {
          text-transform: capitalize;
          font-size: 20px;
          font-weight: 700;
          color: #4da6e7;
          margin-bottom: 15px;
          text-transform: uppercase;
        }

        .main-banner .left-content h2 {
          z-index: 2;
          position: relative;
          font-weight: 700;
          font-size: 50px;
          color: #2a2a2a;
          margin-bottom: 20px;
        }

        .main-banner .left-content p {
          margin-bottom: 30px;
          margin-right: 45px;
        }

        .main-banner .right-image {
          text-align: right;
          position: relative;
          z-index: 20;
        }

        .main-banner .right-image img {
          max-width: 593px;
        }


        .show-up {
          position: relative;
          z-index: 222;
        }

        /*
        #load{
            width:100%;
            height:100%;
            position:fixed;
            z-index:9999;
            background:url("{% static 'courses/787.gif' %}") no-repeat center center;
        }*/



        @media (max-width: 992px) {

          .main-banner .left-content {
            margin-right: 0px;
          }
          .main-banner {
            text-align: center;
            padding: 100px 0px 30px 0px;
          }
          .main-banner:before {
            display: none;
          }
          .main-banner .right-image {
            margin: 30px auto 0px auto;
            text-align: center;
          }


        }

        @media (max-width: 767px) {

          .main-banner .info-stat {
            margin-bottom: 15px;
          }


        }

    </style>

{% endblock %}

{% block main %}

{% for msg in messages %}
   
    <p class="text-success text-center" id = "msg-container">{{msg}}</p>

                
{% endfor %}

<div id="load"></div>

<div id = "cont">

        <div class="main-banner wow fadeIn text-dark" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6 align-self-center">
                    <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                      <div class="row">
                        <div class="col-lg-12">
                          <h6>The Best learning environment for you!</h6>
                          <h2>Learn new skills at 17x speed.</h2>
                          <p>Make a club, share your club's link with your friends. After they join the club take a course from our wide catalog. Ask doubts with each other, track progress, participate in a competition,  challenge other clubs. Welcome Learning team!</p>
                        </div>
                        <div class="col-lg-12">

                            <a class="filled-button text-decoration-none" href="{% url 'club-registration' %}">Open Club</a>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                      <img src="{% static 'accounts/learning.png' %}" alt="cosb">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="text-center mt-5">

          <a class="filled-button text-decoration-none mb-4" href="{% url 'sinx:sinx' %}">
            sinx <span class="badge bg-success">New</span>
          </a>
          
        </div>


<div class="container-fluid mt-5">


    <div class="px-4 pt-5 my-5 text-center border-bottom bg-dark">
      <h6 class="display-5 fw-bold">Learning together!</h6>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">cosb is a one of its kind platform. Get clubbed with your friends, take a course from our wide catalog and start learning together. Collaborate on projects, Ask doubts, Discuss ideas, Conduct live sessions, Participate in competitions, All in one place.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

            <a class="filled-button btn-sm text-decoration-none" href="{% url 'club-registration' %}">Open Club</a>

        </div>
      </div>
      <!--
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="{% static 'accounts/illus.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>-->
    </div>





    <div class="row text-center">
        <div class="section-heading mt-5 mb-5">

            <h2> <em><a href="{% url 'event' %}" class="text-dark" style = "text-decoration: none;">Competitions</a></em></h2>


        </div>
    </div>
    

</div>

<section class="curved bg-dark">

    <div class="container" >
        <div class="row mt-5">

            <div class="col-sm-8 mx-auto text-center">


                    <i class="fa fa-bullhorn mt-3" aria-hidden="true"></i>

                        <div class="mt-1">

                            {% if events_upcoming %}

                                <h6 class="text-white"><em>Upcoming Competitions</em></h6>

                                {% for i in events_upcoming %}

                                    <li><a href="{% url 'event-details' i.event.id  %}" style="font-size: 18px;"> {{i.event.name}}.</a></li>
                                    <p class="text-white" style="font-size: 14px;">{{i.event.event_date}}</p>
                                    
    
                                {% endfor %}
                                <a href="{% url 'reg-events' %}">View all</a>
                            {% else %}

                                <h6 class="text-white text-center mt-5"> Your Registered Competitions will appear here.</h6>

                            {% endif %}

                            <!-- add view all registered events -->
                        </div>


            </div>
        </div>

    </div>
    

</section>



<div class="container text-center mt-5">


    <div class="row">
        <div class="section-heading mt-5">

            <h2> <em><a href="/accounts/club-by-tag/ALL/" class="text-dark" style = "text-decoration: none;">Your Club's</a></em></h2>

        </div>
    </div>
    

</div>

    <div class="services">
      <div class="container">
        <div class="row">

        {% for i in clubs %}
          <div class="col-md-4 mt-3 mb-3">
            <div class="service-item">

                {% if i.logo == 'blank' %}

                  <img src="{% static 'accounts/default.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Course Image" width="300" height="300" loading="lazy">
                  

                {% else %}
                  <img src="{{i.logo.url}}" alt="club's logo">

                {% endif %}

              
              <div class="down-content">
                <h4>{{i.name}}</h4>

                {% if i.tagline %}

                    <p>{{i.tagline}}</p>

                {% else %}

                    <p>We love to learn togehter!!</p>

                {% endif %}
                <a href="{% url 'your-club' i.id  %}" class="filled-button" style="text-decoration: none;">Visit</a>
              </div>
            </div>
          </div>
 
        {% endfor %}

        </div>
      </div>
    </div>


    <div class="container mt-5 mb-5">


        <div class="row mb-5 text-center">
            <div class="section-heading">

                <h2> <em><a href="/accounts/club-by-tag/ALL/" class="text-dark" style = "text-decoration: none;">Explore More</a></em></h2>
            </div>
        </div>
        

    

            <div class="row tm-section-mb">
                <div class="col-lg-12">

                    <div class=" tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="{% static 'accounts/coding.png' %}" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark tm-timeline-description">
                                    <a href="/accounts/club-by-tag/SOFTWARE/" style="text-decoration: none;"><h3 class="tm-text-green tm-font-400">Coding Club's</h3></a>
                                    <p>Want to learn how to code? Join/Make a coding club to learn in an effective way, participate in competitions or challenge a club.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tm-timeline-connector-vertical"></div>
                    </div>



                    <div class="tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="{% static 'accounts/drama.png' %}" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark-light tm-timeline-description">
                                    <a href="/accounts/club-by-tag/DRAMA/" style="text-decoration: none;"><h3 class="tm-text-yellow tm-font-400">Dramatic Club's</h3></a>
                                    <p>To learn and improve your acting skills, join one of the best dramatic clubs on cosb. Learn from other members of your club!</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tm-timeline-connector-vertical"></div>
                    </div>

                    <div class="tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="{% static 'accounts/sports.jpg' %}" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark tm-timeline-description">
                                    <a href="/accounts/club-by-tag/SPORTS/" style="text-decoration: none;"><h3 class="tm-text-cyan tm-font-400">Sports Club's</h3></a>
                                    <p>Take participate in sports competitions, organized by the best clubs in the respective field.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tm-timeline-connector-vertical"></div>
                    </div>

                    <div class="tm-timeline-item">
                        <div class="tm-timeline-item-inner">
                            <img src="{% static 'accounts/technical.png' %}" alt="Image" class="rounded-circle tm-img-timeline">
                            <div class="tm-timeline-connector">
                                <p class="mb-0">&nbsp;</p>
                            </div>
                            <div class="tm-timeline-description-wrap">
                                <div class="tm-bg-dark-light tm-timeline-description">
                                    <a href="/accounts/club-by-tag/TECHNICAL/" style="text-decoration: none;"><h3 class="tm-text-orange tm-font-400">Technical Club's</h3></a>
                                    <p>Make amazing projects, learn new technologies, and ask doubts to experienced members of your club.</p>
                                    <a href="/accounts/club-by-tag/ALL/" style="text-decoration: none;"><p class="tm-text-yellow float-right mb-0">View All</p></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <script async id="slcLiveChat" src="https://widget.sonetel.com/SonetelWidget.min.js" data-account-id="207865070"></script>


</div>
{% endblock %}

{% block ajaxbox %}

    <!--
    <script>

        const ele = document.getElementById("msg-container")
        setTimeout(function(){

            ele.style.display = "none";
            },
         3000);

        document.onreadystatechange = function () {
        var state = document.readyState
        if (state == 'interactive') {
             document.getElementById('cont').style.visibility="hidden";
        } else if (state == 'complete') {
            setTimeout(function(){
               document.getElementById('interactive');
               document.getElementById('load').style.visibility="hidden";
               document.getElementById('cont').style.visibility="visible";
            },1000);
        }
      }
    </script>-->
    
{% endblock %}