{% extends 'qna/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Answere{% endblock %}
{% load humanize %}
{% load extras %}
{% block script %}

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

      <style type="text/css">

        .filled-button {
            background-color: transparent;
            color: #fff;
            background-color: #515148;
            border: none;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 12px 30px;
            border-radius: 30px;
            display: inline-block;
            transition: all 0.3s;
            outline: none;
            box-shadow: none;
            text-shadow: none;
            cursor: pointer;
        }
           
        .filled-button:hover {
            background-color: #17b978;
            color: white;
        }



        .blog-post {
          margin-bottom: 4rem;
        }
        .blog-post-title {
          margin-bottom: .25rem;
          font-size: 2.5rem;
        }
        .blog-post-meta {
          margin-bottom: 1.25rem;
          color: #727272;
        }



  </style>
{% endblock %}

{% block main %}

{% for msg in messages %}
   
    <p class="text-success text-center mt-3" id = "msg-container">{{msg}}</p>

                
{% endfor %}


<main class="container mt-5">


    <article class="blog-post">
      <h2 class="blog-post-title text-dark"><a href="{% url 'qna:add-answere-view' i.id %}" class="text-success text-decoration-none text-dark">{{i.title}}</a></h2>
      <p class="blog-post-meta text-dark">{{i.time|naturaltime}} by <a href="{% url 'info' i.user.username %}">{{i.user.username}}</a></p>

      <h6 class="text-dark"><a href="{% url 'qna:add-answere-view' i.id %}" class="text-success text-decoration-none text-dark">{{i.detail|safe}}</a></h6>


    </article>



    
</main>

<hr class="text-dark" size="5">
<!-- Show answeres as well -->
{% if answeres %}

<div class="container m-3 text-dark">

    {% if total_q >= 2 %}
        <h6 class="text-success">{{total_q}} Answers</h6>

    {% else %}

        <h6 class="text-success">{{total_q}} Answer</h6>

    {% endif %}


    {% for j in answeres %}
        <div class="row m-auto">


            <div class="mb-3 d-flex justify-content-between">
                <div class="pr-3">

                    <p>
                        {{j.ans|safe}}
                    </p>
                    <div class="card-text text-muted small">
                         answered by <mark>{% if request.user == j.user %} You {% else %} {{j.user.username}} {% endif %}
                    </div>
                    <small class="text-muted">{{j.time|naturalday}}</small>
                    {% if request.user == j.user %}
                        
                        <a href = "{% url 'qna:update-answere-view' j.id  %} " class="m-1" style="text-decoration: none;">update</a>
                        <!--<a href = "{% url 'qna:delete-answere-view' j.id  %} " class="m-1" style="text-decoration: none;">delete</a>-->

                        <a class="text-decoration-none" type="button" data-toggle="collapse" data-target="#deleteBox{{j.id}}" aria-expanded="false" aria-controls="deleteBox{{j.id}}">
                        delete
                        </a>

                        <div class="collapse" id="deleteBox{{j.id}}">
                            <div class="card card-body my-2">

                                <h5 class="card-title">Are you sure?</h5>
                                <a href = "{% url 'qna:delete-answere-view' j.id  %} " class="m-1 filled-button text-center" style="text-decoration: none;">Yup!</a>
                                
                            </div>
                        </div>
                        
                        
                    {% endif %}


                    <!--<a class="text-decoration-none" type="button" data-toggle="collapse" data-target="#replyBox{{j.id}}" aria-expanded="false" aria-controls="replyBox{{j.id}}">
                    reply
                    </a>
                    <div class="collapse" id="replyBox{{j.id}}">
                        <div class="card card-body my-2">
                            <form action="{% url 'qna:add-answere-view' i.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="comment">Post a reply</label>
                                    <input type="text" class="form-control" name="answer1" placeholder="Enter reply here" required>
                                    <input type="hidden" name="parent_ans" value="{{j.id}}">
                                </div>
                                <div class="text-end">

                                    <button type="submit" class="filled-button mt-2 btn-sm">Submit</button>

                                    
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="m-3">

                        {% for reply in replyDict|get_val:j.id %}

                            <hr class="text-dark">
                            <div class="row m-auto">


                                <div class="mb-3 d-flex justify-content-between">
                                    <div class="pr-3">

                                        <p>
                                            {{reply.ans|safe}}
                                        </p>
                                        <div class="card-text text-muted small">
                                             reply by <mark>{% if request.user == j.user %} You {% else %} {{reply.user.username}} {% endif %}
                                        </div>
                                        <small class="text-muted">{{reply.time|naturaltime}}</small>
                                        {% if request.user == reply.user %}
                                            
                                            <a href = "{% url 'qna:update-answere-view' reply.id  %} " class="m-1" style="text-decoration: none;">update</a>




                                            <a class="text-decoration-none" type="button" data-toggle="collapse" data-target="#replydelete{{reply.id}}" aria-expanded="false" aria-controls="replydelete{{reply.id}}">
                                            delete
                                            </a>

                                            <div class="collapse" id="replydelete{{reply.id}}">
                                                <div class="card card-body my-2">

                                                    <h5 class="card-title">Are you sure?</h5>
                                                    <a href = "{% url 'qna:delete-answere-view' reply.id  %} " class="m-1 filled-button text-center" style="text-decoration: none;">Yup!</a>
                                                    
                                                </div>
                                            </div>
                                            
                                            
                                        {% endif %}

                                    </div>
                                </div>

                            </div>

                        {% endfor %}

                    </div>-->

                </div>
                
            </div>
            <hr class="text-dark">
            

            
        </div>
    {% endfor %}

    {% else %}

        <h6 class="text-muted text-center mt-5 mb-5">No Answer yet.</h6>

</div>

{% endif %}



<div class="container text-dark pt-5">

    <form method="post" action="{% url 'qna:add-answere-view' i.id %}">
        {% csrf_token %}

        {{form|crispy}}
        <input type="hidden" name="parent" value="ans">

        <div class="text-end mb-5">

            {% if request.user.is_authenticated %}
                <button class="filled-button mt-3 mb-3 text-right" type="submit">Add</button>
            {% else %}

                <a href="{% url 'users:register' %}" class="filled-button mt-2" style="text-decoration: none;">Sign up</a>

            {% endif %}
            
        </div>
        

      
    </form>
    
</div>    


    <script>

        const ele = document.getElementById("msg-container")
        setTimeout(function(){

            ele.style.display = "none";
            },
         3000);
      $('#summernote').summernote({
        placeholder: 'Your answer here!',
        tabsize: 2,
        height: 100,

      });
    </script>
    

</div>

{% endblock%}

